<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book: ${booksList}">
        <div class="Card-picture">
            <a href="#a" th:href="${book.id}">
                <img src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
            </a>
        </div>
        <div class="Card-content">
            <strong class="Card-title">
                <a href="#" th:text="${book.title}"></a>
            </strong>
            <div class="Card-description" th:text="${book.author}"></div>
            <div class="Card-cost" th:if="${book.priceOld}">
                <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
                <span class="Card-price" th:text="${book.price}">₽190.00</span>
            </div>
        </div>
    </div>
</div>
</html>