<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="Footer" th:fragment="footer">
  <script type="text/javascript">
    $(document).ready(function (){
      $("#locales").change(function (){
        console.log(1234);
        var selectedOption = $("#locales").val();
        if(selectedOption != ''){
          window.location.replace('?lang='+selectedOption);
        }
      });
    });
  </script>
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}"></div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:href="@{~/index}" th:text="#{topbar.main}">Главная</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{~/genres/}" th:text="#{topbar.genres}">Жанры</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{~/books/recent}" th:text="#{topbar.news}">Новинки</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{~/books/popular}" th:text="#{topbar.popular}">Популярное</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{~/authors}" th:text="#{topbar.authors}">Авторы</a>
          </li>
        </ul>
      </div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:href="@{~/signin}" th:text="#{footer.signin}">Войти</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{~/documents}" th:text="#{footer.documents}">Документы</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{~/about}" th:text="#{footer.about}">О компании</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{~/faq}" th:text="#{footer.help}">Помощь</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{~/contacts}" th:text="#{footer.contacts}">Контакты</a>
          </li>

        </ul>
        <div>
          <span>Выбор языка</span>
          <select id="locales">
            <option value=" "></option>
            <option value="en">English</option>
            <option value="ru">Русский</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">© 2021 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </div>
  </div>
</footer>
</html>